@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
}




#colores{
    background-image:radial-gradient(rgb(168, 146, 247),rgb(225, 241, 231));
}

body{ 
    background-image:radial-gradient(rgb(19, 150, 226),rgb(5, 10, 10));
}



nav{
    padding: 45px;
}

span{
background-color: rgb(248, 240, 240);
padding: 15px;
margin-left: 4px;


  }

#menuPrincipal{
    
    display: flex;
  flex-direction: row ;
  justify-content: flex-end;
 
}

#menuPrincipal :hover{
    background-color: rgb(189, 245, 133);
    color: white;
    
}

#menuPrincipal :visited{
    background-color: rgb(227, 228, 243);
    color: rgb(91, 66, 235);
    
    
}



.listasMenu {
    background-color: beige;
}


.imagenesPortada{
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.imagenUno{
    max-width: 50%;
    min-width: 50%;
    max-height: 50%;

}

.imagenDos{
    max-width: 50%;
    max-height: 50%;
}

.parrafoIndex{
    display: flex;
    flex-direction: column;
    }



   


h1{
    color: white;
    padding: 25px;
     
}

h2{
    color: white;
    text-align: center;
    padding: 15px;
}

.servicios{
    height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#spanRpg{
    background-color: tomato;
    display: flex;
    justify-content: center;
    
    
}
#spanOsteo{
    background-color: violet;
    display: flex;
    justify-content: center;
}



#spanDrenaje{
    background-color: rgb(31, 118, 248);
    display: flex;
    justify-content: center;
}

#spanFkt{
    background-color: rgb(241, 131, 53);
    display: flex;
    justify-content: center;
}

#spanVestibular{
    background-color: turquoise;
    display: flex;
    justify-content: center;
   
   
}

#spanStretch{
    background-color: rgb(18, 245, 29);
    display: flex;
    justify-content: center;
    
}
.sedesIndex{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: linear-gradient( to bottom right, yellow ,rgb(133, 233, 236));
    padding: 25px;
}

h3{
    color: white;
    text-align: center;
    padding: 25px;
}


.kineIndex{
    display: flex;
    justify-content: space-around;
}


.pieDePagina{
    text-align: center;
    background-image: linear-gradient( rgb(104, 104, 226),rgb(115, 158, 73));
    color: black;
    font-size: smaller;
   padding: 50px;
   margin-top: 25px;
  
}



#cientifico{
    color: rgb(159, 184, 47);
    background-color: rgb(7, 17, 16);
    padding: 25px;
}

#cientifico::after{
    content: "⇩ ARTICULOS";
    color: rgb(243, 209, 209);
    background-color: rgb(241, 33, 162);
    padding: 3px;
    margin: 2px;

}




.pieDePagina{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    }


.kineUno{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 400px;
        }

.serviciosHtml{
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 20px;
   
    
}

.divServicios{
    
    
    display: flex;
    justify-content: center;
    padding: 25px;
    color: rgb(212, 73, 73);
    background-color: whitesmoke;
    margin-bottom: 2px;


}

.parrafoServicios{
    display: flex;
    justify-content: center;
    padding: 25px;
    color: rgb(243, 209, 209);
    background-color: rgb(19, 17, 17);
    margin-bottom: 2px;

}

hr{margin: 5px;}


.animaciones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation-name: animaciones;
    animation-iteration-count: infinite;
    animation-duration: 3s;
}

@keyframes animaciones{
    0%{
        transform: translatex(-150px);
    
 }


    50%{transform: translatex(250px);

    }

    100%{
        transform: translate(-150px);
    }

}

#animacion{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    transform: rotate(12deg);
    padding: 25px;
}

#animacion1{
    width: 100px;
    height: 100px;
    background-color: rgb(224, 102, 32);
    transform: rotate(-12deg);
    padding: 25px;
}



#animacion2{
    width: 100px;
    height: 100px;
    background-color: rgb(211, 14, 14);
    transform: rotate(12deg);
    padding: 25px;

}

#animacion3{
    width: 100px;
    height: 100px;
    background-color: rgb(32, 163, 54);
    transform: rotate(-12deg);
    padding: 25px;

}

.contactosPagina{
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation-name: contactos;
    animation-iteration-count: inherit;
    animation-duration: 3s;
    
} 

@keyframes contactos{
    0%{
        transform: translatex(30px);
    
 }


    50%{transform: translatex(250px);

    }

    100%{
        transform: translate(-30);
    }

    
}

#contaco1{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(6, 41, 61),rgb(192, 230, 22));
    
    padding: 25px;
    margin: 10px;
}

#contacto2{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(31, 58, 3),rgb(55, 58, 17));
    
    padding: 25px;
    margin: 10px;
}

#contacto3{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(224, 37, 152),rgb(85, 125, 170));
    
    padding: 25px;
    margin: 10px;
}

#contacto4{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(72, 143, 177),rgb(140, 175, 45));
    
    padding: 25px;
    margin: 10px;
}

#contacto5{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(18, 26, 10),rgb(223, 121, 26));
    
    padding: 25px;
    margin: 10px;
}

#contacto6{
    width: 200px;
    height: 100px;
    background-image: linear-gradient(rgb(154, 216, 92),rgb(175, 45, 62));
    
    padding: 25px;
    margin: 10px;}

    footer{
        background-image:radial-gradient(rgb(168, 146, 247),rgb(225, 241, 231));
        padding: 25px;
    }

    ul{
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .spanServicios{
        text-align: center;
        background-color: aqua;
    }
        

ul{
    margin: 1px;
}

#columnasKine{
    display: flex;
    justify-content: space-around;
}

#galeria img{
    width: 100%;
    height: 300px;
}

#galeria .col-lg-4{
    padding: 20px;
}

#galeria img:hover{

border: 5px solid white;
}

#tituloSedes{
    text-align: center;
    color: white;
}

#textoIndex{
    
    justify-content: center;
    animation-name: animaciones;
    color: red;
    animation-duration: 3s;
      
}




.botonIndex{
    text-align: center;
}

#botonIndex2{
   
    background:linear-gradient(182deg, rgb(173, 173, 236), rgb(224, 117, 117));
    display: inline-block;
    padding: 1rem,2rem;
    border-radius: 0.25rem;
    min-width: 200px;
    text-decoration:none;
    box-shadow: 0 0 0 0 rgba(0,0,0,.5) ;
    animation: pulse 1.5s infinite;
    

} 
 
@keyframes pulse{

    0%{
        transform:scale(.99); ;
        box-shadow: 0 0 0 0 rgba(256,256,256,.1) ;
    }


    70%{
        transform:scale(1); ;
        box-shadow:0 0 0 15px rgba(250,143,0) ;
    }

    100%{
        transform:scale(.99); ;
        box-shadow:0 0 0 0 rgba(256,256,256,0) ;
    }

}


@media (max-width: 380px){
#menuPrincipal  li {
    font-size: 16px;
    background-color: rgb(59, 16, 180);
}

}